


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.signup{
  height: 100vh;
  background-color: rgb(165, 158, 150);
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.signup  > h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.signup > .inner{
  width: 400px; 
  background-color: white;
  border-radius: 30px;
  padding: 15px 25px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}

 form > input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

form > label{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
}

form > button{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ccc;
  border:none;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in;

  &:hover{
    background-color: #444;
    color:white;
  }
}

.inner > footer{
  display: flex;
  justify-content: space-around;
}

.inner > footer > p{
  font-size: 18px;
}

.inner > footer > a{
  text-decoration: none;
  font-size: 18px;
  color:blue;
}



/*  !  Login page style  */

.login{
  height: 100vh;
  background-color: rgb(55, 55, 92);
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items: center;
}

.login > .inner{
  width: 400px; 
  background-color: white;
  border-radius: 30px;
  padding: 15px 25px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
}
.login > h1{
  color:white;
}



/* !  navbar style */


nav{
  height: 80px;
  background-color: #212121;
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > .list > a{
  color:white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}


/* !  Products component style */


.productsContainer{
  height: calc(100vh - 80px);
  background-color: aliceblue;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  gap:20px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.productsContainer > .card{
  height: 290px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.7);
  cursor: pointer;
  transition: transform 0.4s ease-in;
 
}

.productsContainer > .card:hover{
  transform: scale(1.04);
    box-shadow: 0px 4px 6px black;
}

.productsContainer > .card > img{
  height: 100px;
  width: 100px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: top;
}

.productsContainer > .card >button{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

button > a{
  text-decoration: none;
  color:black;
}


/* !  css for Product component */

.productMain{
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productMain > .inner{
  width: 90vw;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
  gap:10px;
  border-radius: 40px;
  box-shadow: 0px 4px 6px black;
  overflow: auto;

}

::-webkit-scrollbar{
  display: none;
}

.productMain > .inner > img{
  height: 250px;
}


.productMain > .inner >p{
  font-size: 19px;
  line-height: 1.5em;
}

.productMain > .inner > button{
  padding:7px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  background-color: #444;
  color: white;

  &:hover{
    background-color: #555;
  }
}

.btn{
  position: absolute;
  left:5px;
  top:5px;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #ccc;
}


/* !  Cart component CSS */

.cartContainer{
  height: calc(100vh - 80px);
  background-color: #555;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding-top: 20px;
  align-items: center;
  overflow: auto;
}

.cartContainer > .itemCard{
  height: 250px;
  width: 90vw;
  background-color: white;
  display: flex;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover{
    transform: scale(1.02);
    box-shadow: 0px 4px 6px rgba(0,0,0,0.6);
  }
  
}

.cartContainer > .itemCard > .left{

  flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   border-right: 3px solid #ccc;
 
   /* background-color: red; */
}

.left > img{
  height: 200px;
 
}

.itemCard > .right{
  padding: 10px 20px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.right > button{
  padding: 10px 20px;
  font-style: 17px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #ccc;
  cursor: pointer;

  &:hover{
    background-color: #444;
    color:white;
  }
}