*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gridOuter{
  height: 90vh;
  background-color: antiquewhite;

  display: grid;
  grid-template-columns: 300px 200px 250px;
  /* grid-template-columns: 1fr 2fr 1fr; */

  /* grid-template-rows: 100px ; */
  grid-auto-rows: 100px;

  justify-content: center;
  align-content: center;
  gap:10px;
}

.gridOuter > .box{
  padding: 10px;
  border: 2px solid black;
}


#box1{
  grid-column: span 3;
}

#box3{
  grid-column: span 2;
}

#box2{
  grid-row: span 2;
}

#box8{
  grid-row: span 2;
}




.gridTask{
  height: 100vh;
  background:linear-gradient(black,red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.gridTask > h1{
  color:white;
}

.gridTask > .inner{
  width: 70vw;
  height: 70vh;
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
  
}

.inner > .card{
  /* border: 2px solid black; */
}

.inner > .card{
  background-size: cover;
  transition: all 1s ease-in;
  background-position: top;
  cursor: pointer;
}

.inner > #card1{
  grid-row: span 2;
  background-image: url("https://images.pexels.com/photos/1955134/pexels-photo-1955134.jpeg");
  border-top-left-radius:20px ;
  
}
.inner > #card4{
  grid-column: span 2;
  background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg");
}

.inner >#card1:hover{
  background-position: center;
}

.inner >#card4:hover{
  background-position: center;
}

.inner > #card2{
  background-image: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg");
}
.inner > #card2:hover{
  background-position: center;
  
}
.inner > #card3{
  background-image: url("https://images.pexels.com/photos/1043458/pexels-photo-1043458.jpeg");
  border-top-right-radius: 20px;
}
.inner > #card3:hover{
  background-position: center;
  
}
.inner > #card5{
  background-image: url("https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg");
   border-bottom-left-radius: 20px;
}
.inner > #card5:hover{
  background-position: center;
  
}
.inner > #card6{
  background-image: url("https://images.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg");
}
.inner > #card6:hover{
  background-position: center;
  
}
.inner > #card7{
  background-image: url("https://images.pexels.com/photos/414181/pexels-photo-414181.jpeg");
   border-bottom-right-radius: 20px;
}
.inner > #card7:hover{
  background-position: center;
  
}